
Voici {{ num_examples }} exemples de questions et le type de réponse attendu de ta part.

{% for question in question_list %}
{{ question }}
{% endfor %}

Maintenant, réponds à la question suivante :